

.navbar_container{
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: column;
    font-family: monospace;
    background-color: white;
    align-items: center;
    height: 12vh;
    z-index: 10;
    width: 100%;
    color: rgb(109, 108, 108);
}
.brand{
    height: 8vh;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0% 5%;
}
.brand img{
    width: 2.5vw;
    margin-right: 1vw;
}
.brand h1{
    font-weight: 400;
    font-size: 1.5vw;
}
.header{
    width: 80%;
    height: 4vh;
    display: flex;
    justify-content: center;
    border-bottom: grey 1.5px solid;
}
.header li{
    display: flex;
    justify-content: left;
    font-size: 1.1vw;
    font-weight: 700;
}
.header li:nth-child(1){
    width: 30%;
}
.header li:nth-child(2){
    width: 35%;
}
.header li:nth-child(3){
    width: 15%;
}