.pointer{
  cursor: pointer;
}
.dev{
  position: relative;
  top: 40vh;
  display: block;
  height: 60vh;
  width:70vw; 
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li{
  list-style: none;
}
.button{
  display: flex;
  top: 70vh;
  flex-direction: column;
  font-size: calc((3vw + 3vh)/2);
  left: 85vw;
  color: rgb(143, 143, 143);
  position: fixed;
}
.button li{
  border: 2px solid rgb(143, 143, 143);
  margin-bottom: 2vh;
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .2s ease-in-out;
}
.button li:hover{
  border: white 2px solid;
  box-shadow: rgb(170, 170, 170) 1px 1px 8px;
}